*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color:rgb(0, 208, 255)  ;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#card{
    height: 550px;
    width: 320px;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #000;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;

} 
#card::-webkit-scrollbar{
    display: none;
}
#storiyan{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 15px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; 
    background-color: cadetblue;
    /* overflow: scroll; */
}
#storiyan::-webkit-scrollbar{
    display: none;
}
.story{
   border: 3px solid red;
    height:90px;
    border-radius: 50%;
    width: 90px;
    display: inline-block;
    overflow: hidden;
    margin-right: 5px;

}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}






#post1{
    height: 400px;
    width: 350px;
    top: 0.1px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
#post1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
#fir{
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}
#post1 h1{
    background-color: rgb(165, 217, 217);
    height: 37px;
    width: 100%;
   
}


#post2{
    height: 400px;
    width: 350px;
    top: 0.1px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
#post2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#sec{
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}
#post2 h1{
    background-color: rgb(165, 217, 217);
    height: 35px;
    width: 100%;
   
}


#box{
    height: 136px;
    width: 315px;
    background-color:cadetblue;
    /* border: 1px solid #dadada; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box img{
   
    height: 69px;
    width: 296px;
    border-radius: 60%;

}
#box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#box h6 {s
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}
#btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
   
}

#container{
    height: 135px;
    width: 350px;
    background-color: red;
    
    display: flex;
    margin-top: 35px;

}
#add{
    background-color: rgb(51, 51, 191);
    width: 200px;
    height: 25px;
    border-radius: 10px;
}











